{{ ansible_managed | comment }}

auth_enabled: {{ loki_auth }}

server:
  http_listen_address: {{ loki_http_address }}
  http_listen_port: {{ loki_http_port }}
  grpc_listen_address: {{ loki_grpc_address }}
  log_level: {{ loki_log_level }}

ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
    final_sleep: 0s
  chunk_idle_period: 5m
  chunk_retain_period: 30s

schema_config:
  configs:
  {{ loki_schema_configs | to_nice_yaml(indent=2,sort_keys=False) | indent(2,False) }}

storage_config:
  boltdb:
    directory: {{ loki_store }}/index

  filesystem:
    directory: {{ loki_store }}/chunks

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: {{ loki_period }}

chunk_store_config:
  max_look_back_period: {{ loki_retention }}

table_manager:
  chunk_tables_provisioning:
    inactive_read_throughput: 0
    inactive_write_throughput: 0
    provisioned_read_throughput: 0
    provisioned_write_throughput: 0
  index_tables_provisioning:
    inactive_read_throughput: 0
    inactive_write_throughput: 0
    provisioned_read_throughput: 0
    provisioned_write_throughput: 0
  retention_deletes_enabled: true
  retention_period: {{ loki_retention }}
