{{ ansible_managed | comment }}
server:
  http_listen_address: {{ promtail_server_listen }}
  http_listen_port: {{ promtail_server_port }}
  grpc_listen_address: {{ promtail_server_listen }}
  grpc_listen_port: 0
  log_level: {{ promtail_log_level }}

# Positions
positions:
  filename: /var/lib/promtail/positions.yaml

# Loki Server URL
clients:
  - url: http://{{ promtail_client_loki_address }}:{{ promtail_client_loki_port }}{{ promtail_client_loki_path }}
{% if promtail_client_set_tenant_id %}
    tenant_id: {{ promtail_client_tenant_id }}
{% endif %}
    external_labels:
{% for label_key in promtail_client_external_labels %}
      {{ label_key }}: {{ promtail_client_external_labels[label_key] }}
{% endfor %}

scrape_configs:
  {{ promtail_scrape_configs | to_nice_yaml(indent=2,sort_keys=False) | indent(2,False) }}
